.bg-primary {
    background-color: #6633FF !important;
}
.text-primary {
    color: #6633FF !important;
}
.btn-primary {
    color: #fff;
    background-color: #6633FF !important;
    border-color: #6633FF !important;
}
.text-success {
    color: #28a745!important;
}

.btn-outline-primary {
    color: #6633FF !important;
    background-color: transparent;
    background-image: none;
    border-color: #6633FF !important;
}

/* -------------------------------------- */

.badge {
    min-width: 40px;
    font-size: 100%;
    min-height: 8px;
    font-weight: 500;
}

/* -------------------------------------- */

.bg-light-grey {
    background-color: #DEDEDE!important;
}

.bg-light {
    background-color: #f8f9fa!important;
}

/* -------------------------------------- */

.badge-light {
    color: #212529;
    background-color: #DEDEDE!important;
}

.none-style-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
    background: none;
    outline: none;
    border: none;
}

.none-style-button:active {
    box-shadow: none;
    background-color: #DEDEDE;
}

.none-style-button:focus {
    outline: none !important;
}

/* -------------------------------------- */