<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>

        <th:block th:fragment="userIssuesPanel">
            <!-- обработка клика по задаче -------------------------------------- -->
            <script>
                $(document).ready(function() {
                    $('input[type="checkbox"]').click(function(){
                        var checkboxId = $(this).attr('id');
                        var id = checkboxId.replace('Check', '');
                        if($(this).prop("checked") == true){
                            $('#' + id + 'ChangeStateForm').submit();
                            console.log("Checkbox is checked." + id + 'Form');
                        }
                        else if($(this).prop("checked") == false){
                            $('#' + id + 'ChangeStateForm').submit();
                            console.log("Checkbox is unchecked." + id + 'Form');
                        }
                    });
                });
            </script>
            <!-- обработка клика по задаче -------------------------------------- -->

            <!-- задачи пользователя -------------------------------------- -->
            <th:block th:each ="issue : ${issues}">
                <div class="container-fluid mt-3">
                    <div class="row">
                        <div class="form-check col-auto mr-auto">
                            <form th:action="'/user/folder/' + ${folderId} + '/issue'" method="post" th:id="${issue.id} + 'Form'">

                                <input type="hidden" name="issueId" th:value="${issue.id}">
                                <input class="form-check-input trackChangeCheckbox"
                                       type="checkbox"
                                       th:id="${issue.id} + 'Check'"
                                       th:name="${issue.id} + 'Check'"
                                       th:checked="${issue.done} ? 'checked'"
                                >

                                <p th:if="${issue.done}" class="h6"><s th:text="${issue.name}"></s></p>
                                <p th:unless="${issue.done}" th:text="${issue.name}" class="h6"></p>

                                <div class="container-fluid text-muted">
                                    <p th:text="${issue.description}"></p>
                                </div>

                                <div class="container-fluid">
                                    <th:block th:each ="tag : ${issue.tags}">
                                        <a href="#" class="badge badge-success badge-pill" onclick="return false" th:text="${tag}"></a>
                                    </th:block>
                                </div>
                            </form>
                        </div>

                        <div class="col-auto">
                            <div class="row">
                                <!-- change state issue -->
                                <div class="col">
                                    <form th:action="@{'/user/folder/issue/changeState'}" method="post" th:id="${issue.id} + 'ChangeStateForm'" type="hidden">
                                        <!-- <button type="submit" class="btn btn-outline-success">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z"/>
                                                <path fill-rule="evenodd" d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z"/>
                                            </svg>
                                        </button> -->
                                        <input type="hidden" name="folderId" th:value="${currentFolder.id}">
                                        <input type="hidden" name="issueId" th:value="${issue.id}">
                                    </form>
                                </div>
                                <!-- edit issue -->
                                <div class="col p-2 mr-2">
                                    <form th:action="@{'/user/' + ${currentFolder.id} + '/' + ${issue.id} + '/edit'}" method="get">
                                        <button type="submit" class="btn btn-outline-warning">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-nut" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M11.42 2H4.58L1.152 8l3.428 6h6.84l3.428-6-3.428-6zM4.58 1a1 1 0 0 0-.868.504l-3.429 6a1 1 0 0 0 0 .992l3.429 6A1 1 0 0 0 4.58 15h6.84a1 1 0 0 0 .868-.504l3.428-6a1 1 0 0 0 0-.992l-3.428-6A1 1 0 0 0 11.42 1H4.58z"/>
                                                <path fill-rule="evenodd" d="M6.848 5.933a2.5 2.5 0 1 0 2.5 4.33 2.5 2.5 0 0 0-2.5-4.33zM5.067 9.848a3.5 3.5 0 1 1 6.062-3.5 3.5 3.5 0 0 1-6.062 3.5z"/>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                                <!-- delete issue -->
                                <div class="col p-2">
                                    <form th:action="@{/user/folder/issue/delete}" method="post">
                                        <input type="hidden" name="folderId" th:value="${currentFolder.id}">
                                        <input type="hidden" name="issueId" th:value="${issue.id}">
                                        <button type="submit" class="btn btn-outline-danger">×</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr> <!-- разделитель -->

            </th:block>
            <!-- ---------------------------------------------------------- -->
        </th:block>

    </body>
</html>