<!-- -------------------------------------------------------------------- -->
<!-- добавится на страницу, только если передан currentFolder -->

<div
        th:fragment="addIssueModal"
        th:if="${currentFolder}"
        class="modal fade" id="addIssueModal" tabindex="-1" role="dialog" aria-labelledby="addIssueModalLabel" aria-hidden="true"
>
    <div class="modal-dialog" role="document">

        <form th:action="@{'/user/folder/' + ${currentFolder.id} + '/issue'}" th:object="${currentFolder}" method="post">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addIssueModalLabel">Новая задача</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Название:</label>
                        <input type="text" class="" id="recipient-name" name="name"
                               th:class="${existAddIssueError} OR ${nameAddIssueError} ? 'form-control is-invalid' : form-control ">

                        <input type="number" class="d-none" name="folderId"
                               th:value="${currentFolder.id}">

                        <div class="invalid-feedback" th:if="${existAddIssueError}" th:text="${existAddIssueError}">
                        </div>

                        <div class="invalid-feedback" th:if="${nameAddIssueError}" th:text="${nameAddIssueError}">
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="number" class="d-none" name="folderId"
                               th:value="${currentFolder.id}">
                    </div>

                    <div class="form-group">
                        <label for="description-name" class="col-form-label">Описание:</label>
                        <input type="text" class="" id="description-name" name="description"
                               th:class="${descriptionAddIssueError} ? 'form-control is-invalid' : form-control ">

                        <div class="invalid-feedback" th:if="${descriptionAddIssueError}" th:text="${descriptionAddIssueError}">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </div>

        </form>

    </div>
</div>
<!-- -------------------------------------------------------------------- -->