<!-- будет добавлено на страницу, только если передан currentFolder -->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>

        <th:block th:fragment="userIssuesPanel">
            <!--  -------------------------------------- -->
            <script>
                //изменение состояния задачи
                $(document).ready(function() {
                    $('input[type="checkbox"]').click(function(){
                        var checkboxId = $(this).attr('id');
                        var id = checkboxId.replace('Check', '');
                        if($(this).prop("checked") == true){
                            $('#' + id + 'ChangeStateForm').submit();
                            console.log("Checkbox is checked." + id + 'Form');
                        }
                        else if($(this).prop("checked") == false){
                            $('#' + id + 'ChangeStateForm').submit();
                            console.log("Checkbox is unchecked." + id + 'Form');
                        }
                    });
                });
            </script>
            <script>
                //показать блок с редактированием задачи
                $(document).ready(function() {
                    $('.COLLAPSE-EDIT-BUTTON').on('click', function(){

                        //получаю id кнопки
                        var idElem = $(this).attr('id');
                        idElem = idElem.replace("CollapseEditButton", '');
                        idElem = '#' + idElem + 'CollapseEditBlock';
                        $(idElem).slideToggle();
                    });
                });
            </script>
            <script>
                //убрать блок с редактированием задачи
                $(document).ready(function() {
                    $('.COLLAPSE-EDIT-BUTTON-CLOSE').on('click', function(){

                        //получаю id кнопки
                        var idElem = $(this).attr('id');
                        idElem = idElem.replace("CollapseEditButtonClose", '');
                        idElem = '#' + idElem + 'CollapseEditBlock';
                        $(idElem).slideToggle();
                    });
                });
            </script>
            <script>
                //удалить задачу
                $(document).ready(function() {
                    $('.COLLAPSE-DELETE-BUTTON').on('click', function(){

                        //получаю id кнопки
                        var idElem = $(this).attr('id');
                        idElem = idElem.replace("DeleteButton", '');
                        idElem = '#' + idElem + 'DeleteForm';
                        $(idElem).submit();
                    });
                });
            </script>
            <script>
                //дублировать задачу
                $(document).ready(function() {
                    $('.DUPLICATE-EDIT-BUTTON').on('click', function(){

                        //получаю id кнопки
                        var idElem = $(this).attr('id');
                        idElem = idElem.replace("DuplicateButton", '');
                        idElem = '#' + idElem + 'DuplicateForm';
                        $(idElem).submit();
                    });
                });
            </script>
            <script>
                //по клику на кнопку показать поле для ввода тега (при редактировании задачи)
                $(document).ready(function() {
                    $('.inputEditTagAnchor').on('click', function(){
                        var idElem = $(this).attr('id');
                        idElem = idElem.replace("inputEditTagAnchor", '');
                        $('#' + idElem + 'inputEditNewTag').toggle();
                    });
                });
            </script>
            <!-- -------------------------------------- -->

            <!-- Редактирование задачи ------------------------------ -->
            <script>
                $(document).ready(function() {
                    $('.inputEditNewTag').keydown(function(e) {
                        if(e.keyCode === 13) {

                            var idElem = $(this).attr('id');
                            //новый тег
                            var inputText = $('#' + idElem).val();

                            //получаю id
                            var id = idElem.replace("inputEditNewTag", '');

                            //уже существующие теги в виде строки
                            var stringArray = ($('#' + id + 'TagsHiddenContainerEdit').val()).split(',');

                            if (inputText != "" && inputText != null && !( inputText.indexOf(" ") >= 0) && stringArray.length <= 10) {
                                if (!($.inArray(inputText, stringArray) >= 0)) {
                                    //если тег уникальный

                                    var aTag = $('<a>', {
                                        class : 'badge badge-success badge-pill editNewTagAnchor mr-1',
                                        href: "#",
                                        text : inputText + " ×",
                                        onclick : "return false",
                                        id : id + '_' + inputText + '_' + 'AnchorTag',
                                    });

                                    //добавляем видимый тег
                                    $('#' + id + 'TagsViewContainerEdit').append(aTag);

                                    //добавляем текстовое значение тега в хранилище
                                    $('#' + id + 'TagsHiddenContainerEdit').val($('#' + id + 'TagsHiddenContainerEdit').val() + inputText + ',');

                                    $('#' + idElem).val(''); //очистка поля формы

                                } else {
                                    $('#' + idElem).val(''); //очистка поля формы
                                }
                            } else {
                                $('#' + idElem).val(''); //очистка поля формы
                            }
                        }
                      });
                });
            </script>
            <script>
                //удаление тегов из контейнера и поля с данными (редактирование задачи)
                $(document).ready(function() {
                    $('.TagsViewContainerEdit').on('click', '.editNewTagAnchor', function(){

                        //удаляю элемент со страницы
                        var idElem = $(this).attr('id');

                        var deleteSubstring = $(this).text();
                        var deleteSubstring = deleteSubstring.replace(" ×", '');

                        var id = $(this).attr('id');
                        id = id.replace('_' + deleteSubstring + "_AnchorTag", '');

                        $('#' + idElem).remove();

                        var storageTagsStr = $('#' + id + 'TagsHiddenContainerEdit').val(); //убираем подстроку из тега
                        storageTagsStr = storageTagsStr.replace(deleteSubstring + ",", '');
                        $('#' + id + 'TagsHiddenContainerEdit').val(storageTagsStr);
                    });
                });
            </script>
            <!-- ------------------------------ -->

            <!-- задачи пользователя -------------------------------------- -->
            <th:block th:each ="issue : ${issues}">
                <div class="container-fluid mt-3">
                    <div class="row">

                        <!-- вывод информации о задаче и форма изменения состояния задачи -->
                        <div class="form-check col-auto mr-auto">
                            <form th:action="'/user/folder/' + ${folderId} + '/issue'" method="post" th:id="${issue.id} + 'Form'">

                                <!-- issue.id -->
                                <input type="hidden" name="issueId" th:value="${issue.id}">

                                <!-- checkbox -->
                                <input class="form-check-input trackChangeCheckbox"
                                       type="checkbox"
                                       th:id="${issue.id} + 'Check'"
                                       th:name="${issue.id} + 'Check'"
                                       th:checked="${issue.done} ? 'checked'"
                                >

                                <!-- issue.name -->
                                <p th:if="${issue.done}" class="h6"><s th:text="${issue.name}"></s></p>
                                <p th:unless="${issue.done}" th:text="${issue.name}" class="h6"></p>

                                <!-- issue.description -->
                                <div class="container-fluid text-muted">
                                    <p th:text="${issue.description}"></p>
                                </div>

                                <!-- issue.tagsContainer -->
                                <div class="container-fluid">
                                    <th:block th:each ="tag : ${issue.tagsContainer}">
                                        <a href="#" class="badge badge-success badge-pill" onclick="return false" th:text="${tag}"></a>
                                    </th:block>
                                </div>
                            </form>
                        </div>

                        <!-- кнопки удаления / обновления ... -->
                        <div class="col-auto">
                            <div class="row">

                                <div class="col-auto">
                                    <p th:text="${issue.createDate}"></p>
                                </div>

                                <!-- список действий -->
                                <div class="col-auto">
                                    <a class="h5 text-dark" href="#" role="button" id="dropdownMenuFolder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration:none">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                        </svg>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuFolder">
                                        <button class="dropdown-item none-style-button COLLAPSE-DELETE-BUTTON" th:id="${issue.id} + 'DeleteButton'">Удалить</button>
                                        <button class="dropdown-item none-style-button COLLAPSE-EDIT-BUTTON" href="#" th:id="${issue.id} + 'CollapseEditButton'">Редактировать</button>
                                        <button class="dropdown-item none-style-button DUPLICATE-EDIT-BUTTON" th:id="${issue.id} + 'DuplicateButton'">Дублировать</button>
                                    </div>
                                </div>

                                <!-- duplicate issue form -->
                                <form th:action="@{'/user/' + ${currentFolder.id} + '/issue/duplicate'}" method="post" th:id="${issue.id} + 'DuplicateForm'">
                                    <!-- name -->
                                    <input name="name" type="hidden" th:value="${issue.name}">
                                    <!-- description -->
                                    <input name="description" type="hidden" th:value="${issue.description}">
                                    <!-- tags -->
                                    <input type="hidden" name="tagsNoParsing" th:value="${issue.tagsNoParsing}">
                                    <!-- location -->
                                    <input type="hidden" name="folderId" th:value="${issue.folderId}">
                                    <!-- status -->
                                    <input type="hidden" name="done" th:value="${issue.done}">
                                </form>

                                <!-- delete issue form -->
                                <form th:action="@{/user/folder/issue/delete}" method="post" th:id="${issue.id} + 'DeleteForm'">
                                    <input type="hidden" name="folderId" th:value="${currentFolder.id}">
                                    <input type="hidden" name="issueId" th:value="${issue.id}">
                                </form>

                                <!-- change state issue -->
                                <form th:action="@{'/user/folder/issue/changeState'}" method="post" th:id="${issue.id} + 'ChangeStateForm'">
                                    <!-- <button type="submit" class="btn btn-outline-success">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z"/>
                                            <path fill-rule="evenodd" d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z"/>
                                        </svg>
                                    </button> -->
                                    <input type="hidden" name="folderId" th:value="${currentFolder.id}">
                                    <input type="hidden" name="issueId" th:value="${issue.id}">
                                </form>
                            </div>
                        </div>
                    </div>


                    <!-- ==================================================================== -->
                    <th:block th:insert="fragments/user-edit-issue :: editIssue"></th:block>
                    <!-- ==================================================================== -->
                </div>

                <hr> <!-- разделитель -->

            </th:block>
            <!-- ---------------------------------------------------------- -->
        </th:block>

    </body>
</html>