<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <!-- -------------------------------------------------------------------- -->
        <!-- (EditFolder) будет добавлено на страницу, только если передан currentFolder -->
        <div
                th:fragment="editFolderModal" th:if="${currentFolder}"
                class="modal fade" id="editFolderModal" tabindex="-1" role="dialog" aria-labelledby="editFolderModalLabel" aria-hidden="true"
        >

            <!-- -------------------------------------------------------------------- -->
            <th:block th:if="${editNameFolderError}">  <!-- Скрипт в случае ошибки-->
                <script>
                    $(document).ready(function() {
                        $("#editFolderModal").modal('show');
                    });
                </script>
            </th:block>
            <th:block th:if="${editExistNameFolderError}">  <!-- Скрипт в случае ошибки-->
                <script>
                    $(document).ready(function() {
                        $("#editFolderModal").modal('show');
                    });
                </script>
            </th:block>
            <!-- -------------------------------------------------------------------- -->

            <div class="modal-dialog" role="document">

                <!-- форма редактирования категории -->
                <!-- =============================================================================== -->
                <form th:action="@{/user/folders/edit}" method="post"> <!-- POST request -->

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editFolderModalLabel" th:text="'Редактировать область: ' + ${currentFolder.name}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-form-label">Название:</label>
                                <input type="text" class="" name="name"
                                       th:class="${editNameFolderError} OR ${editExistNameFolderError} ? 'form-control is-invalid' : form-control ">
                                <div class="invalid-feedback" th:if="${editNameFolderError}" th:text="${editNameFolderError}">
                                </div>
                                <div class="invalid-feedback" th:if="${editExistNameFolderError}" th:text="${editExistNameFolderError}">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="hidden" th:value="${currentFolder.id}" name="folderId">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Редактировать</button>
                        </div>
                    </div>

                </form>
                <!-- =============================================================================== -->

            </div>
        </div>
        <!-- -------------------------------------------------------------------- -->
    </body>
</html>