<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- main.css -->
    <link href="/static/assets/css/main.css" rel="stylesheet"/>
</head>
<body>
    <!-- -------------------------------------------------------------------- -->
    <nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-3 shadow align-items-center">
        <div class="row align-items-center justify-content-center ml-0 mr-auto">
            <a class="navbar-brand mr-1" href="#">
                <img src="/static/assets/img/control-logo.png" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand m-auto" href="#">Control</a>
        </div>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="p-2 text-white" href="/login">Войти</a>
            </li>
        </ul>
        <div class="nav-item text-nowrap"> <!-- выход из системы -->
            <a class="btn btn-light text-dark" href="/registration">Зарегистрироваться</a>
        </div>
    </nav>
    <!-- -------------------------------------------------------------------- -->

    <main role="main" class="flex-shrink-0">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Control</h1>
            <p class="lead">Способствует более тесному сотрудничеству и увеличению эффективности работы.</p>
            <p class="lead">Начни прямо сейчас!</p>
        </div>

        <div class="container mt-2">
            <div clss="container table-responsive">
                <div class="row justify-content-center" style="height:100vh">
                    <div class="col-5">
                        <table class="table table-hover table-inverse">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Activity</th>
                                <th>id</th>
                                <th>Roles</th>
                                <th>Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each ="userEntity : ${users}">
                                <td th:text="${userEntity.username}"></td>
                                <td th:text="${userEntity.online}"></td>
                                <td th:text="${userEntity.id}"></td>
                                <td th:text="${userEntity.roles}"></td>
                                <td th:text="${userEntity.email}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
